.addgroupContent {
  width: 80%;
  margin: auto;
}

.addgroupinputs {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: 60px;
  justify-content: center;
}

.addgroupinputs b {
  font-size: bold;
  font-size: 90%;
}

.form-input {
  height: 30px;
  width: 95%;
  padding: 3px 15px;
  border-radius: 20px;
  border: 1px solid #979797;
}

.colorss {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: 60px;
}

.colorbutton {
  border: "none";
  height: 20px;
  padding: 4%;
  border-radius: 50%;
  margin: 0px 7px;
  border: none;
  cursor: pointer;
}

.colorbutton:active {
  border: 2px solid #000;
}

.popup-content {
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .popup-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .popup-content {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .popup-content {
    width: 95%;
  }
}
