.chatwindow {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chatwindow .chatnavdiv {
    width: 100%;
    height: 12%;
}

.chatwindow .chatcontentdiv {
    width: 100%;
    height: 65%;
}

.chatwindow .chatinputdiv {
    width: 100%;
    height: 20%;
}

.unselectedchat {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.unselectedchat .heading {
  font-size: 40px;
  letter-spacing: 2px;
}

.unselectedchat img {
  width: 60%;
}

.unselectedchat .footer {
  position: absolute;
  bottom: 0px;
  padding: 20px;
}

.group_datanav {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #E8E8E8;
  width: 100%;
}

.chatnavcontent {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    place-items: center;
    position: relative;
}

.backspan {
    border: none;
    text-decoration: none;
    background-color: none;
    display: none;
    justify-content: center;
    place-items: center;
    margin: 0px 25px;
    font-size: 25px;
  }

.group_logo {
  min-height: 60px;
  width: 60px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 50%;
  color: #fff;
}

.groupnamespan {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
  .unselectedchat img {
    width: 80%;
  }
  .unselectedchat p {
    font-size: 15px;
  }
}

@media screen and (max-width: 568px) {
  .unselectedchat p {
    font-size: 13px;
  }

  .backspan {
    display: flex;
  }
}
