.notes {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

.chatbox {
    width: 100%;
    background-color: #F7ECDC;
}

.gpl {
    height: 100vh;
}

.unselchtwin {
    display: flex;
}

@media screen and (max-width: 568px) {
    .notes {
        grid-template-columns: 1fr;
    }

    .chatbox {
        position: absolute;
        top: 0;
        left: 0;
    }

    .unselchtwin {
        display: none;
    }
}